.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(238, 236, 236);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    /* font-size: 20px; */
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(197, 196, 196);
    border-radius: 5px;
    transition: fill .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#newspace{
    border:0px;
    border-radius: 4px;
    background-color: rgb(223, 223, 223);
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #818181;
    margin: 5px 20px 20px 20px;
    width: 80%;
    /* height: 30px; */
}

#newspace:hover{
    background-color: rgb(211, 211, 211);
}

#inputSpace{
    border:0px;
    border-radius: 4px;
    background-color: rgb(243, 241, 241);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    width: 80%;
}

#spaceName{
    cursor: pointer;
    margin-left: 20px;
    display:inline-block;
    width: 80%;
}

#spaceName:hover{
    border-radius: 5px;
    background-color: #dfdfdf;
}

.deleteButton{
    border: 0;
    border-radius: 5px;
    color: red;
}
.deleteButton:hover{
    background-color:#dfdfdf ;
}